{% extends 'home/layout.html' %}
{% load static %}
{% block title %} Edit Account {% endblock %}
{% block body %}
    <div class="container">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="personal-info">
            <div class="img-container">
                <img src="{{request.user.account.Acc_pic.url}}" alt="" id="accimg" class="img-acc">
                <div class="middle">
                    <label for="upload-photo" class="btn">Edit</label>
                    {{form2.Acc_pic}}
                </div>
            </div>
            <div>
                {{form1.first_name}}
                {{form1.last_name}}
                {{form2.job}}
            </div>
        </div>
        <div class="advance-info">
            {{form2.bio}}
            {{form2.city}}
            <div class="Available-form">
                {{form2.Available}}
                <button type="submit" class="btn large">Update</button>
            </div>
        </div>
            </form>
        <div class="comments">
            <h3>Last Comments</h3>
            {% for comment in comments %}
            <div class="comment">
                <a href="{% url 'Account' pk=comment.employer.user.pk %}"><img src="{{comment.employer.Acc_pic.url}}" class="img-comment">
	                <div><h4>{{ comment.employer.user.first_name }} {{ comment.employer.user.last_name }}</h4></div><div><small>{{ comment.created_at|naturalnaturaltime }}</small></div></a>
                <p>{{ comment.Comment }}</p>
            </div>
	        {% endfor %}
        </div>
    </div>
{% endblock %}
{% block script %}
<script>
       function previewFile(input) {
        var file = $("input[type=file]").get(0).files[0];

        if (file) {
            var reader = new FileReader();

            reader.onload = function () {
                $("#accimg").attr("src", reader.result);
            }

            reader.readAsDataURL(file);
        }
    }
</script>
{% endblock %}
{% if comments is None %}
{% block foot %}position: fixed;bottom: 0px;width: 100vw;{% endblock %}
{%endif%}