{% extends 'home/layout.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block body %}
<div class="container2">
<div>
			<h3>Recrute Someone</h3>
			<form class="search-form2" action="" method="post">
				<input class="search-input" placeholder="Search for a keyword ... " type="text" name="" id=""
					style="max-width: 740px;" />
				<button class="btn large" type="submit">Search</button>
			</form>
		</div>
		<div class="card-list">
			{% for accont in acconts %}
			<div class="card-wrapper">
				<div class="card">
					<img src="{{accont.Acc_pic.url}}" alt="">
					<a href="{% url 'Account' pk=accont.user.pk %}" style=""><h3>{{ accont.user.first_name }} {{ accont.user.last_name }}</h3></a>
					<h4>{{ accont.job }}</h4>
					<div style="display:none" class="stars">
						<i class='bx bxs-star'></i>
						<i class='bx bxs-star'></i>
						<i class='bx bxs-star'></i>
						<i class='bx bx-star'></i>
						<i class='bx bx-star'></i>
					</div>
				</div>
				<div class="hire-me">
					<a href="{% url 'HireMe' pk=accont.user.pk %}" style=""><h3>Hire me</h3></a>
				</div>

			</div>
			{% endfor %}
		</div>
    </div>
{% endblock %}