{% extends 'home/layout.html' %}
{% load static %}
{% block title %} Register {% endblock %}
{% block body %}
    <div class="register">
        <h2>Register</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {{form2.phone}}
            {{form2.city}}
            {{form2.country}}
            {{form2.adress}}
            {{form2.user}}
            <input class="btn large" type="submit">
        </form>

        <p>You alredy have an acount <a style="color:#2041B6;" href="/login">Log in</a></p>
    </div>
    <h1>{{form1.errors}}
        {{form2.errors}}
    </h1>
{% endblock %}
{% block script %}
<script>
document.getElementById("id_user").value = "{{pk}}";
$( document ).ready(function() {$("#id_user").val("{{pk}}");});
</script>
{% endblock %}